<div class="about-container">
    <!-- <button class="back-button" (click)="goHome()">Back to Home</button> -->
 
 
    <h2 class="about-title">About TRIDEL</h2>
    <p class="about-subtitle">Leading the future of environmental monitoring with advanced technology solutions</p>
 
    <div class="about-description">
        Tridel Technologies Group is a professional organization providing environmental solutions with integrated
        competences of environmental science, engineering, and technology. Our core expertise caters in delivering
        end-to-end solutions for environmental surveying, monitoring and mapping through data collection, data
        processing, product deliverables, data & deliverables management, integration with GIS database and developing
        custom build software and applications enhancing our clients for environmental data driven decision making
        augmenting the collective responsibility & commitments towards our environment.
    </div>
 
    <div class="cards-container">
        <div class="info-card">
            <div class="icon">🌐</div>
            <!-- <h3>Global Environmental Systems</h3> -->
            <p>Tridel specializes in end-to-end Marine, Environmental Survey and monitoring solutions. We Build Manned &
                Unmanned Survey Platforms, Buoys and Monitoring Systems.</p>
        </div>
 
        <div class="info-card">
            <div class="icon">🌊</div>
            <!-- <h3>Marine Technology</h3> -->
            <p>Tridel provides turnkey solutions to customer-specific problems, system integration, deployment, data
                analysis, and system maintenance.</p>
        </div>
 
        <div class="info-card">
            <div class="icon">⛰️</div>
            <!-- <h3>Terrestrial Solutions</h3> -->
            <p>We also deliver survey projects in the Hydrographic value chain as per IHO standards.</p>
        </div>
    </div>
 
    <button class="explore-button" (click)="goHome()">Back to Home</button>
</div>